.content {
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
	background-color: rgb(238, 238, 238);
	padding-bottom: 30px;
}

.title{
	font-weight: 500;
	padding-top: 70px;
	margin: 0
}

.card{
	height: 310px;
	margin-top: 20px;
}
.price{
	color: #FFC107;
	font-weight: bolder;
}