@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

body {
  font-family: 'Roboto', sans-serif;
}

a.sidenav-trigger:hover { 
  color: #FFC107;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

.animate-flicker {
   -webkit-animation: flickerAnimation 2s infinite;
   -moz-animation: flickerAnimation 2s infinite;
   -o-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
}

.card{
  width: 100%; 
  position: relative;
  border: 1px solid #FFC107;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, .3);
  margin: 0;
  margin-top: 10
}

.wwd-card{
  width: 100%;
  background-position: center;
  background-size: cover;
  transition:all 0.3s ease-in-out;
  opacity:1;
}

.wwd-card:hover , .wwd-card:focus {
  transform: scale(1.05);

}
.wwd-card:hover img, .wwd-card:focus img{
  opacity:0.2;
}

.wwd-card p{
  visibility: hidden;
  font-weight: 400;
}

.wwd-card:hover p, .wwd-card:focus p{
  visibility: visible;
  font-weight: 400;
  transition: visibility 0.3s ease-in-out;
}

.slick-dots{
  position: static
}

#takeme{
  color: white
}

#instagram, #facebook{
  color: #FFC107
}
#arrow_down, #instagram, #facebook{
  cursor: pointer;
}
.page-footer{
  background-color: #424242
}
/* Drawer Toggle */
.DrawerToggle {
    width: 40px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    margin-left: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.DrawerToggle div {
    width: 90%;
    height: 3px;
    background-color: white;
    transition: all 0.25s ease-out;
}

.DrawerToggle div:after {
    content: '';
    display: block;
    transform:translateY(-13px);
    height: 3px;
    background-color: white;
    transition: all 0.25s ease-out;
}

.DrawerToggle div:before {
    content: '';
    display: block;
    transform:translateY(10px);
    height: 3px;
    background-color: white;
    transition: all 0.25s ease-out;
}

.Open div {
    width: 90%;
    height: 3px;
    background-color: transparent;
}

.Open div:after {
    content: '';
    display: block;
    transform: translateY(-3px) rotate(225deg);
    height: 3px;
    background-color: white;
}

.Open div:before {
    content: '';
    display: block;
    transform: rotate(-45deg);
    height: 3px;
    background-color: white;
}

@media (min-width: 995px) {
    .DrawerToggle {
        display: none;
    }
}

/* FORM */
.MuiInputBase-input-42{
  border: none
}
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea{
  border-bottom: none
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
  border-bottom: none;
  box-shadow: none;
}
.MuiFormLabel-root-16.MuiFormLabel-focused-17 {
  color: #FFC107 !important
}

.MuiPrivateNotchedOutline-focused-55{
  border-color: #FFC107 !important
}

fieldset{
  border-color: white !important
}

.card .card-image .card-title {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    box-sizing: border-box;
    max-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* GALERY */
.masonry { /* Masonry container */
    column-count: 4;
    column-gap: 1em;
}

.item { /* Masonry bricks or child elements */
    background: #fff;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    padding: 1.5em;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@media only screen and (min-width: 1024px) {
  .masonry {
    column-count: 4;
  }
}
/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    column-count: 3;
  }
}
/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .masonry {
    column-count: 2;
  }
}
/* Masonry on small screens */
@media only screen and (max-width: 539px) and (min-width: 0px) {
  .masonry {
    column-count: 1;
  }
}

@media screen and (min-width: 600px) {
  .main {
      margin-left: 60px; /* Same width as the sidebar + left position in px */
      font-size: 28px; /* Increased text to enable scrolling */
      z-index: -1;
  }
}


